{extends file="view/{$basetpl}"}
{block name=content}
	<div class="row-fluid">			
		<div class="box span12">
			{Form name="form" label="Update User" enctype=true session=$session module={encode string=$module} action={encode string="saveprofile"}}
			<div class="box-content">
				{input name="key" type="hidden" value={encode string=$data.id}}
				{input label="User Name" name="username" type="text" value=$data.username}
				{*{input label="Password" name="password" type="text" value=$data.password}
				{input label="First Name" name="first_name" type="text"  value=$data.firstname}
				{input label="Last Name" name="last_name" type="text"  value=$data.lastname}
				{input label="Email" name="email" type="text" value=$data.email}
				{input label="Website" name="website" type="text"  value=$data.website}*}
				{input name="button1" type="submit" value="update"}
			</div>
			{/Form}
		</div>
	</div>
{/block}
