{extends file="view/{$basetpl}"}
{block name="js"}
  {gventure_js name="form"}
		{gventure_valid label="Old Password" name="oldpassword" type="text" rule="required"}
		{gventure_valid label="New Password" name="newpassword" type="text" rule="required" length=4}
	{/gventure_js}
{/block}
{block name=content}
	<div class="row-fluid">			
		<div class="box span12">
			{Form name="form" label="Change Password" enctype=true session=$session module={encode string=$module} action={encode string="savepassword"} key={encode string=$keyfield}}
			<div class="box-content">
				{input label="Old Password " name="oldpassword" type="password"  value=""}
				{input label="New Password " name="newpassword" type="password"  value=""}
				{input name="button1" type="submit" value="Change Password"}
			</div>
			{/Form}
		</div>
	</div>
{/block}
